.container {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  justify-content: center;
}

/* tr:nth-child( even ) {
  background-color: #f2f2f2;
} */

.filters {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
}

table {
  border: whitesmoke solid 1px;
  table-layout: fixed;
  width: 100%;
}

td {
  word-wrap: break-word;
}
