.background-image {
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('/public/fundo-star-wars.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
}

.svg-header {
  display: flex;
  justify-content: center;
  padding: 40px;
}
